@import "tailwindcss";

@theme {
  --color-background: oklch(0.1408 0.0044 285.82);
  --color-foreground: oklch(0.9851 0 0);
  --color-primary: oklch(0.7227 0.192 149.58);
  --color-secondary: oklch(0.2739 0.0055 286.03);

  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  width: 100%;
  max-width: 1280px;

  margin: auto;
  padding: 0 30px;
}

section {
  padding: 48px 0;
}

@keyframes appear {
  from {
    translate: -100vw 0;
  }

  to {
    translate: 0 0;
  }
}

#section-home h1 {
  animation: appear 2000ms ease-in-out;
}

#section-home p {
  animation: appear 2500ms ease-in-out;
}

#section-home a {
  animation: appear 3000ms ease-in-out;
}
